.elem_header,
.elem {
 width: 100%;
 height: 56px;
 display: flex;
 align-items: center;

 padding: 0;

 box-sizing: border-box;
 cursor: pointer;
 border-radius: 5px;
 font-size: 0.9rem;
 color: rgba(255, 255, 255, 0.8);
}

.elem_header span,
.elem span {
 margin-right: 7px;
}

.elem_header {
  padding: 0;
  font-weight: 500;
  border-bottom: 1px solid #3a3a3a;
  border-radius: 0;
  line-height: 1em;
}

.elem_header .id {
  display: block;
  margin-right: 15px;
  width: 26px;
  min-width: 26px;
}


.elem:hover {
  background-color: rgba(255, 255, 255, 0.1);
 }

.main {
 flex: 0 1 50%;
 display: flex;
 align-items: center;
}

.album {
 flex: 0 1 20%;
}

.dur {
 flex: 1;
}

.album,
.dur {
  height: 100%;
  line-height: 56px;
}

.dur svg {
  margin: 0 0 0 8px;
  font-size: 1rem;
}

.cover {
 flex: 0 0 42px;
 height: 42px;
 width: 42px;
 overflow: hidden;

 background-color: #e5dfdf;
 margin-right: 15px;
 border-radius: 5px;
}

.cover img {
 height: 42px;
 object-fit: cover;
}

.id {
 display: block;
 min-width: 32px;
 font-size: 0.9rem;
 font-weight: 500;
 text-align: right;
 line-height: 1em;
 color: #b7bec2;
 box-sizing: border-box;
}

.isplaying:hover,
.isplaying {
 background-color: rgba(69, 70, 74, 0.478);
}

.author_creds span {
  display: block;
  line-height: 120%;
}

.author_creds span:nth-child(1) {
  font-size: 0.9rem;
  color: #fff;
}

.author_creds span:nth-child(2) {
  margin-top: 7px;
  font-size: 0.8rem;
}

.elem .play_btn {
  padding: 0;
  padding-left: 10px;
  font-size: 19px;
  margin: 0;
}

.play_btn svg {
  transform: translateX(-3px);
}

@media only screen and (max-width: 1024px) {
  .elem {
    padding-right: 10px;
  }
}



@media only screen and (max-width: 768px) {
  .album,
  .elem_header {
    display: none;
  }

  .main {
    flex: 1;
   }

  .dur {
    flex: 0.5;
    text-align: center;
  }
}

@media only screen and (max-width: 535px) {
.dur {
  display: none;
}

.author_creds {
  flex:1;
}
}


@media only screen and (max-width: 535px) { 
  .main {
    flex: 1;
  }

  .cover {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
  }

  .author_creds {
    flex: 1;
    max-width: 40vw;
    white-space: nowrap;
    overflow: hidden;
  }

  .author_creds {
    flex: 0 1 70%;
  }

  .elem button {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .elem button:nth-last-child(2) {
    margin-left: auto;
    margin-right: 3px;
  }
}

@media only screen and (max-width: 420px) { 
  .elem .id {
    display: none;
  }

  .elem {
    padding: 0 10px;
  }

}