.header {
 width: 100%;
 position: fixed;
 background-color: var(--main-color);
 box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.249);
 z-index: 100;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  height: 100%;
}


.header,
.gap {
 height: var(--vp-header);
 box-sizing: border-box;
}

.gap {
  display: block;
}

.title {
 text-transform: uppercase;
 font-weight: 600;
 font-size: 1.05rem;
 letter-spacing: 0.08em;
 color: #fff;
}