
.progressbar_wrapper {
  position: relative;
  flex: 1;
  height: 20px;
}


.progressbar_wrapper::before,
.progressbar_progress {
  position: absolute;
  top: 7px;
  left: 0;
  bottom: 0;
  display: block;
  width: auto;
  min-width: 5px!important;
  max-width: 100%!important;
  height: 6px;
  background-color: #3d9ed6;
  border-radius: 6px;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

.progressbar_wrapper::before {
  content: "";
  width: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.progressbar_wrapper input[type=range] {
  position: relative;
  z-index: 11;
}


input[type=range] {
  position: relative;
  height: 20px;
  margin: 0;
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  border: 1px solid transparent;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  margin: 0 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-radius: 10px;
}


input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 9px;
  width: 9px;
  border-radius: 10px;
  background: #fff;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
  transform: scale(1.4);
  transition: 0.1s ease;
  box-sizing: border-box;
  z-index: 11;
  box-shadow: 1px 1px 2px 0px rgb(31, 31, 33);
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 9px;
  width: 9px;
  transform: scale(1.4);
  border-radius: 10px;
  background: #fff;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
  transform: scale(1.1);
  transition: 0.1s ease;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 0px rgb(31, 31, 33);
}

input[type=range]:hover::-webkit-slider-thumb {
  border: 0.5px solid #000000;
  transform: scale(2.5);
}

input[type=range]:hover::-moz-range-thumb {
  border: 0.5px solid #000000;
  transform: scale(2.5);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: 1px solid #000000;
  background-color: #fff;
  height: 19px;
  width: 19px;
  border-radius: 20px;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}

input[type=range]:focus::-ms-fill-upper {
  background: transparent;
}


@media only screen and (max-width: 425px) { 
  .progressbar_wrapper::before,
  .progressbar_progress {
    position: absolute;
    top: 7px;
    height: 6px;
    border-radius: 20px;
  }

  input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 14px;
    width: 14px;
    margin-top: -3px;
    margin-top: -3.5px;
  }

  input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 14px;
    width: 14px;
    margin-top: -3px;
    margin-top: -3.5px;
  }

  input[type=range]:hover::-webkit-slider-thumb {
    border: 1px solid #000000;
    transform: scale(1.4);
  }
  
  input[type=range]:hover::-moz-range-thumb {
    border: 1px solid #000000;
    transform: scale(1.4);
  }
}